@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    font-family: Manrope, sans-serif;
    line-height: 1.6;
}

.s-center {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .s-center {
        text-align: left;
    }
    
}

.flex {
    display: flex;
}
.main-banner {
    background: radial-gradient(79.43% 251.58% at 23.18% 73.07%, #0142a0 0,  #0f133a 44.41%,  #101034 56.43%, #141034 69.58%, #210262 100%, #1c1958 0);
    color: #fff;
    padding: 2rem 1rem 0;
}

@media screen and (min-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
        margin: auto;
    }
    
}

.title{
    font-family: Orbitron, sans-serif;
    font-size: 1.5rem;
  
}

.description {
    font-size: 0.8rem;
    text-align: center;
    color: #fff;
}

.line-2{
    color: #3dacfc;
}

.line-1{
    color: #ffd932;
}
@media screen and (min-width: 1024px) {
    .title{        
        font-size: 2.5rem;
        
    }

    .description {
        font-size: 1rem;        
    }
    
}





.countdown {
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .countdown {
        justify-content: flex-start;
        
    }
    
}
.countdown-item {
    padding: 0 .75rem;
    align-items: center;
    position: relative;
}

.countdown-item:not(:last-of-type):before {
    position: absolute;
    right: 0;
    content: "";
    display: block;
    width: 1px;
    height: 60%;
    background:#fff;
    opacity: .5;

}

.countdown-number {
    font-size: 1.75em;
    font-weight: bold;
    margin-right: .25rem;
    color: #ffffff;
}

.countdown-number1 {
    font-size: 1em;
    font-weight: bold;
    margin-right: .25rem;
    color: #3dacfc;
}

.countdown-letter {
    opacity: .5;
    color: #ffffff;
}




.form-container {
    height: 2.5rem;
    margin-bottom: 2rem;
}
.form{
    display: flex;
}

.form {
    display: inline-flex;
}

.input {
    line-height: 2.5rem;
    width: 15rem;
    background: none;
    border: 1px solid rgb(255, 255, 255, .4);
    padding: 0 .5rem;
    border-radius: .25rem 0 0 .25rem;
    color: #fff;
}

.input::placeholder {
    color: rgb(255, 255, 255, .8);
}

.button2 {
    padding: 0 1rem;
    border-radius: 0 .25rem .25rem 0;
    border: none;

}






.form-hint {
    font-size: .7rem;
    margin: 0 0 1rem;
}